<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Data Tranfert</title>
    <link rel="stylesheet" href="styles.css">
</head>
<header>
    <nav>
		<a href="Home.html" class="nav-item "  data-target="Home">Home</a>
		<a href="Joueurs.html" class="nav-item"  data-target="About">Joueurs</a>
		<a href="Championnats.html" class="nav-item" >Championnats</a>
		<a href="Clubs.html" class="nav-item" data-target="Testimonials">Clubs</a>
		<a href="Mercato.html" class="nav-item" data-target="Blog">Mercato</a>
		<a href="Contact.html" class="nav-item"  data-target="Contact">Contact</a>
        <a href="API.html" class="nav-item"  data-target="API">API</a>

        <span class="nav-indicator"></span>
    </nav>

</header>
<body>

<table class="table">
	<thead>
		<tr>
			<th><a id="sort-by-photo">Photo</a></th>
			<th><a id="sort-by-nom"></a>Nom</th>
            <th><a id="sort-by-nationnalite">Nombres d'équipes</a></th>
            <th><a id="sort-by-nationnalite">Nombres de joueurs</a></th>
            <th><a id="sort-by-nationnalite">Nombres de joueurs étrangers</a></th>
            <th><a id="sort-by-nationnalite">% de joueurs étrangers</a></th>
            <th><a id="sort-by-nationnalite">Age moyen</a></th>
            <th><a id="sort-by-nationnalite">Meilleur joueur</a></th>
            <th><a id="sort-by-nationnalite">Valeur Marchande</a></th>
		</tr>
	</thead>
	<tbody id="div-data-championnats">

	</tbody>
</table>

<script src="gestion_championnats.js"></script>
<script src="client_championnats.js"></script>
</body>
</html>
