<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Data Tranfert</title>
  <link rel="stylesheet" href="styles.css">
  <script src="script.js"></script>
</head>

<header>
  <nav>
    <a href="home.html" class="nav-item" >Home</a>
    <a href="joueurs.html" class="nav-item" >Joueurs</a>
    <a href="clubs.html" class="nav-item" >Clubs</a>
    <a href="mercato.html" class="nav-item">Mercato</a>
    <a href="contact.html" class="nav-item" >Contact</a>
    <span class="nav-indicator"></span>
  </nav>


</header>
<body>

</body>
</html>