<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Lifprojetkk</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="script.js"></script>
</head>
<header>
    <nav>
        <a href="home.html" class="nav-item "  data-target="Home">Home</a>
        <a href="joueurs.html" class="nav-item"  data-target="About">Joueurs</a>
        <a href="clubs.html" class="nav-item" data-target="Testimonials">Clubs</a>
        <a href="mercato.html" class="nav-item" data-target="Blog">Mercato</a>
        <a href="contact.html" class="nav-item"  data-target="Contact">Contact</a>

        <span class="nav-indicator"></span>
    </nav>
</header>
<body>

<div class="profile-container">
    <div class="profile-details">
        <div class="pd-left">
            <div class="pd-row">

                <img src="https://img.a.transfermarkt.technology/portrait/big/68290-1632687616.jpg?lm=1" class="pd-image">

                <div>
                    <h2> #100 Neymar</h2>

                </div>

            </div>


        </div>
        <div class="pd-right">


        </div>




    </div>
<!-----
    <div class="profile-info">
        <div class="info-col">


        </div>
        <div class="post-col">
            <div class="donnes">



            </div>


        </div>


    </div>


    --->
</div>

<div class="tab-joueur">
<table>
    <thead>
    <tr>
        <th>DONNES</th>


    </tr>
    </thead>
    <tbody id="dataj-output">
    </tbody>
</table>
</div>
<!---
	<button class="float-left btn bg-primary" onclick="prev()">Previous </button>
	<button class="btn btn-primary float-right" onclick="next()">Next</button>

	<nav class="multiTabs">
		<a class="btn btn-danger mr-2" href="javascript:void(0)" data-trigger='content1'>Tab1</a>
		<a class="btn btn-danger mr-2" href="javascript:void(0)" data-trigger='content2'>Tab2</a>
		<a class="btn btn-danger mr-2" href="javascript:void(0)" data-trigger='content3'>Tab3</a>
		<a class="btn btn-danger mr-2" href="javascript:void(0)" data-trigger='content4'>Tab4</a>
		<a class="btn btn-danger mr-2" href="javascript:void(0)" data-trigger='content5'>Tab5</a>
	</nav>


content
	<div class="tabcontent active bg-light" id="content1">
		<h1>Tab1</h1>
		<p>This is some text about tab1</p>
	</div>
	<div class="tabcontent bg-light" id="content2">
		<h1>Tab2</h1>
		<p>This is some text about tab2</p>
	</div>
	<div class="tabcontent  bg-light" id="content3">
		<h1>Tab3</h1>
		<p>This is some text about tab3</p>
	</div>
	<div class="tabcontent  bg-light" id="content4">
		<h1>Tab4</h1>
		<p>This is some text about tab4</p>
	</div>
	<div class="tabcontent bg-light" id="content5">
		<h1>Tab5</h1>
		<p>This is some text about tab5</p>
	</div>

	-->
</body>
</html>
